*
{
  margin: 0;
}
body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter";
 
}
header {
  background-color: #230e3d;
  
}
.bg-color {
  background-color: #1a0b2e;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.heading-text {
  font-size: 3.75rem;
  font-weight: 900;
  color: #ffffff;
}
.heading2-text {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
}
.heading3-text {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}
.heading4-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
}
.regular-text {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 100;
}
.green-text {
  color: #00ff88;
  font-size: 1rem;
  font-weight: 500;
}
.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-margin {
  margin-top: 120px;
  margin-bottom: 40px;
}

/* navbar */

nav{
  padding: 10px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
nav ul{
  display: flex;
  gap: 30px;
}
nav ul li{
  list-style-type: none;
}
nav ul li a{
  text-decoration: none;
  color: #ffffff;
}
.menu
{
  display: none;
}
.menu i{
  
  color: #ffffff;
  font-size: 35px;
}

/* banner */
.badge
{
  background-color: #00ff88;
  color: #1a0b2e;
  font-weight: 500;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 40px;
  box-shadow: 0 0 30px #d3f012;
  position: absolute;
  margin-left: 200px;
 

}

.banner {
  background-image: url("../images/hero-bg.png");
  background-position: center;
  background-size: cover;
}

.banner-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px;
  position: relative;
}
.banner-img {
  background-image: url("../images/hero-circle.png");
  background-position: center;
  background-size: cover;
  padding: 45px 78px;
}
.banner-card-element p{
  margin-top: 20px;
}

.button {
  display: flex;
  gap: 8px;
}
.btn1 {
  margin-top: 20px;
  background-color: transparent;
  background: linear-gradient(
    to top right,
    rgba(247, 333, 16, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 14px 20px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 100px;
   transition: transform 0.8s ease;
  cursor: pointer;
}
.btn1:hover {
  transform: scale(1.5) rotateX(360deg);
}
.btn2 {
  margin-top: 20px;
  border: 1px solid #00ff88;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  color: #00ff88;
  padding: 12px 20px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
   transition: transform 0.8s ease;
  cursor: pointer;
}
.btn2:hover {
  transform: scale(1.7) rotateX(360deg);
}

/* ------------about-------- */

.about-description {
  text-align: center;
  margin: 80px 400px;
  margin-top: 0px;
}
.about-description p {
  line-height: 1.6;
}

/* -------------hr----------- */
hr {
  margin: 20px 200px;
}

/* --------------rating card------ */

.green-heading {

  font-size: 3rem;
  font-weight: 900;
  color: #00ff88;
}

.rating-card-container {
  padding: 10px;
  margin: 0 100px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.rating-card {
  /* border: 1px solid white; */
  text-align: center;
}

/* -------------TechWave------------ */

.grid-container {
  padding: 80px 200px;
}
.box1 {
  background-color: #351165;
  border-radius: 40px;
  padding: 40px;
  color: white;
}

.tachwave-grid-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.box1 p {
  margin-top: 16px;
}
#box1 {
  grid-row: span 2;
  padding-top: 140px;
}
.box2,
.box3 {
  grid-column: span 2;
}

/* -------Featured section------------- */

.featured-card-container {
  margin: 10px auto;
  display:flex;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.featured-card {
  max-width: 380px;
  border-radius: 16px;
}

.featured-card iframe {
  width: 380px;
  height: 214px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.featured-card-description {
  background-color: #351165;
  margin-top: 0px;
  padding: 24px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.featured-card-description p {
  margin-bottom: 12px;
}

.timer {
  display:flex;
  flex-direction: row;
  
  align-items: center;
  gap: 6px;
}


/* ---------meet section----------- */

.meeting-card {
  background-color: #351165;
  margin: 120px 200px;
  margin-top: 0px;
  padding: 40px;
  gap: 24px;
  border-radius: 40px;
  display: flex;
}
.meeting-description p {
  margin-bottom: 16px;
}
.meet-card-images {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: start;
  gap: 8px;
}
.meet-card-image {
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------footer--------------- */

#wave {
  background: linear-gradient(
    to top,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  background-clip: text;
  color: transparent;
}
.footer-container {
  background-image: url("../images/footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-card {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-bottom: 32px;
}

.footer-container .heading-text {
  margin-bottom: 32px;
}

