@media (max-width: 576px) {
  /* Mobile styles */
  .container-center .heading-margin {
    text-align: center;
  }
  .about-description {
    text-align: center;
    margin: 0px auto;
    padding: 20px;
  }
  hr {
    margin: 20px 20px;
  }
  .rating-card-container {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    padding: 20px auto;
  }
  .grid-container {
    padding: 0px 10px;
  }
  .tachwave-grid-container {
    padding: 10px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  #box1 {
    grid-row: span 1;
    padding: 40px;
  }
  .box2,
  .box3 {
    grid-column: span 1;
  }

  .featured-card {
    max-width: 350px;
    margin-top: 26px;
  }
  .featured-card-description {
    padding: 14px;
    max-width: 350px;
  }
  .featured-card iframe {
    width: 100%;
    /* height: 214px; */
  }
  .featured-card-container {
    padding: 10px 20px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
  .meet-container {
    display: flex;
  }
  .meeting-card {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    margin-bottom: 40px;
    text-align: center;
  }
  .meet-card-images {
    grid-template-columns: repeat(4, 1fr);
  }
.footer-card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

}

@media (min-width: 577px) and (max-width: 992px) {
  /* Tablet styles */
  .about-description {
    text-align: center;
    margin: 0px auto;
    padding: 20px;
  }
  .rating-card-container {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    padding: 20px;
  }

   .grid-container {
    padding: 0px 10px;
  }
  .tachwave-grid-container {
    padding: 10px 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  #box1 {
    grid-row: span 1;
    padding: 40px;
  }
  #box4 {
    grid-column: span 2;
    padding: 40px;
  }
  .box2,
  .box3 {
    grid-column: span 1;
  }
  /* .grid-container {
    padding: 0px 10px;
  } */

  .featured-card-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  .meet-container {
    display: flex;
  }
  .meeting-card {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    margin-bottom: 40px;
    text-align: center;
    align-items: center;
  }
  .meeting-card img{
    max-width: 400px;
    
  }
  .meet-card-images {
    grid-template-columns: repeat(4, auto);
    justify-content: center;
  }
}
