@media (max-width: 576px) {
  /* Mobile styles */

  .footer-card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .meet-container {
    display: flex;
  }
  .meeting-card {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    margin-bottom: 40px;
    text-align: center;
  }
  .meet-card-images {
    grid-template-columns: repeat(4, 1fr);
  }
  .featured-container .heading-margin {
    text-align: center;
  }

  .featured-card {
    max-width: 350px;
    margin-top: 26px;
  }
  .featured-card-description {
    padding: 14px;
    max-width: 350px;
  }
  .featured-card iframe {
    width: 350px;
    height: 214px;
  }

  .rating-card-container {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    padding: 20px;
  }
  hr {
    margin: 40px 20px;
  }
  .about-description {
    text-align: center;
    margin: 0px auto;
    padding: 20px;
  }
  .about-container .heading-margin {
    text-align: center;
  }
}
.banner-container-description {
  text-align: center;
}

.banner-image {
  
  padding: 30px 60px;
  
}
.new-badge {
 
  margin-top: -200px;
  margin-left: 190px;
}

.techwave-container
{
  /* display: none; */
}
@media (min-width: 577px) and (max-width: 992px) {
  /* Tablet styles */

  .meet-container {
    display: flex;
  }
  .meeting-card {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    margin-bottom: 40px;
    text-align: center;
  }
  .meet-card-images {
    grid-template-columns: repeat(4, auto);
    justify-content: center;
  }
  .rating-card-container {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    padding: 20px;
  }
  hr {
    margin: 40px 40px;
  }

  .about-description {
    text-align: center;
    margin: 0px auto;
    padding: 40px;
  }
  .banner-image {
  
  padding: 30px 60px;
  
}
}
